<div class="row marginTop">
    @foreach (var drink in Model.Drinks)
    {
        @for (var i = 0; i < 5; i++)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@drink.ImageThumbnailUrl" alt="" width="300" height="200"/>
                    <div class="caption">
                        <h3 class="pull-right">@drink.Price.ToString("c")</h3>
                        <h3>
                            <a asp-controller="Drink" asp-action="Details" asp-route-drinkId="@drink.Id">@drink.Name</a>
                        </h3>
                        <p>@drink.ShortDescription</p>
                    </div>
                    <div class="addToCart text-right">
                        <p class="button ">
                            <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@drink.Id">
                                Add to cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
         }
     }
</div>